.button {
    color: white;
    align-self: center;
    background-color: #e50914;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 17px;
    transition: ease-in-out 300ms;
}

.button:hover {
    cursor: pointer;
    background-color: #97080f;
}

.button:active {
    cursor: pointer;
    background-color: #97080f96;
}