.div {
    border-bottom:  8px #222 solid;
    background-color: #000000;
    color: white;
}

.div {
    display: flex;
}

.div div h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.div div p {
    font-size: 1.25rem;
}