.banner {
  color: white;
  object-fit: contain;
  height: 448px;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__contents h1 {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__contents h2 {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}

.banner__buttons {
  display: flex;
  gap: 10px;
}

.banner__button {
  cursor: pointer;
  color: white;
  border-radius: 3px;
  font-weight: 700;
  padding: 0.5rem 2rem;
  background-color: rgba(51, 51, 51, 0.5);
  transition: all 0.2s;
}

.banner__button:hover {
  color: black;
  background-color: #e6e6e6;
}
