.row {
  margin: 10px;
  color: white;
  position: relative;
}

.row__posters {
  display: flex;
  gap: 10px;
  /* width:100vw; */
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  gap: 0px;
  position: relative;
  scroll-behavior: smooth;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  width: 200px;
  object-fit: contain;
  max-height: 100px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.row__posterLarge {
  max-height: 250px;
  width: 150px;
}

.row__posterLarge::hover {
  transform: scale(1.09);
}

.poster__title__hide {
  position: absolute;
  width: calc(100% + 20px);
  text-align: center;
  opacity: 0;
  left: -10px;
  /* transition: all 300ms; */
}

.poster__title__shown {
  opacity: 1;
  position: absolute;
  width: calc(100% + 20px);
  text-align: center;
  /* transform: translateY(-10px); */
  padding: 20px 0;
  bottom: -10px;
  transition: all 300ms;
  /* padding: top; */
  left: -10px;
  background: linear-gradient(transparent, #111111);
}

.poster__container {
  position: relative;
}

.left__button {
  position: absolute;
  left: 0;
  bottom: 46%;
  z-index: 2;
  transform: rotate(180deg) translate(0, -50%);
  height: 30px;
  cursor: pointer;
}

.right__button {
  position: absolute;
  right: 0;
  bottom: 46%;
  z-index: 2;
  transform: translate(0, 50%);
  height: 30px;
  cursor: pointer;
}

.button__hide {
    display: none;
}